<h1> Manufacturers </h1>

<div class="manufacturer-list">
<% @manufacturers.each do |m| %>
  <li><%= m.name %> <%= m.country %></li>
<% end %>
</div>

<div class="link">
  <%= link_to "New", new_manufacturer_path %>
</div>
